
@import "tailwindcss";

/* FONT IMPORTS */
@font-face {
    font-family: Caveat;
    src: url("/src/assets/fonts/Caveat-VariableFont_wght.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("/src/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Jetbrains Mono;
    src: url("/src/assets/fonts/JetBrainsMono-Regular.ttf")
}

.caveat {
    font-family: Caveat, sans-serif;
}

.poppins {
    font-family: Poppins, sans-serif;
}

.serif {
    font-family: serif;
    font-style: italic;
}

.monospace {
    font-family: JetBrains Mono;
}
